@{
    ViewBag.Title = "julian.me - portfolio";
}
<link href="@Url.Content("~/Content/shCore.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/shThemeDefault.css")" rel="stylesheet" type="text/css" />
@if (ViewBag.Project != null)
{
    ViewBag.Title = ViewBag.Project;

    <div id="portfolio-slide-container" class="project-style-@ViewBag.Project">
        <div id="portfolio-slide-padding">
            <a href="#" id="back-arrow"></a>
            @{
    Html.RenderPartial((string)ViewBag.Project);
            }
        </div>
    </div>
}
<div id="portfolio-divider-left">
    <table id="portfolio-projects">
        <tr>
            <td colspan="2">
                <div id="thismember-tile" class="tile">
                    <a href="@Url.Action("Index", new { project = "thismember" })" class="tile" />
                    @{
                        Html.RenderPartial("ThisMemberTile");
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="raytracer-tile" class="tile">
                    <a href="@Url.Action("Index", new { project = "raytracer" })" class="tile" />
                    @{
                        Html.RenderPartial("RayTracerTile");
                    }
                </div>
            </td>
            <td>
                <div id="paginggrid-tile" class="tile">
                    MvcPagingGrid
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="slimeolution-tile" class="tile">
                    Slime-O-Lution
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="portfolio-divider-right">
    <section id="portfolio-text">
        <h2>
            projects</h2>
        <p>
            Over the years, I've done a lot of personal projects; for fun, for school or for
            a problem that arose on the job for which I found a (free) solution did not yet
            exist.
        </p>
        <p>
            Usually, these projects die a swift death as other (shinier) things catch my eye
            but on this page I've got some projects that either finished, currently ongoing
            or unfinished but worth showing.
        </p>
        <p>
            I like making things that produce a visual result, or that are demanding in terms
            of performance and to heavily optimize those. The raytracer project being a prime
            example of both. But I also enjoy making library type projects, meant for third-party
            consumption, that expose a as simple as possible (but flexible) API, hiding all
            internal complexity from the user.
        </p>
    </section>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/portfolio.js")"></script>
<script src="@Url.Content("~/Scripts/shCore.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/shBrushCSharp.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        SyntaxHighlighter.all();

        @if (ViewBag.Project != null)
        {
        <text>
            setTimeout(function () {
                slidePortfolio('out');
            }, 0);
        </text>
        }   
    });
</script>
